<!-- Nel tuo componente HTML -->
<div class="popup-overlay">
    <label class="close" (click)="close()">&times;</label>

    <label class="title">Update Personal Information</label>
    
    <form>
        <label class="info">Name</label>
        <input [(ngModel)]="info.name" name="name" type="text" placeholder="Name" required>
        <label class="info">Surname</label>
        <input [(ngModel)]="info.surname" name="surname" type="text" placeholder="Surname" required>

        <div class="container-changePassword">
            <button class="changePassword" (click)="toggleNewPassword()" *ngIf="!changePassword">CHANGE PASSWORD</button>
            
            <label class="info cancel" *ngIf="changePassword" (click)="toggleNewPassword()">CANCEL</label>
            <input *ngIf="changePassword" [(ngModel)]="newPassword" name="password" type="password" placeholder="New Password" required>
            <input *ngIf="changePassword" [(ngModel)]="confirmNewPassword" name="confirmPassword" type="password" placeholder="Confirm New Password" required>
            <label class="checkPassword" [ngClass]="{'visible': newPassword !== confirmNewPassword}">Passwords do not match.</label>
        </div>
        
        <label class="info">Current Password</label>
        <input [(ngModel)]="password" name="confirmPassword" type="password" placeholder="Enter Password" required>

        <label class="response" [ngClass]="{'visible': response}">{{response_msg}}</label>

        <button type="submit" (click)="updateUserInfo()">UPDATE</button>
    </form>
</div>
