<div>
    <button (click)="toggleDropdown()">Calories Analysis</button>
    <div [ngClass]="{'dropdown-visible': isActiveDropdown()}" class="dropdown-container">
      <!-- <div>Insert the ingredient</div> -->
      <!-- <input type="text" placeholder="Ingredient name" name="ingredientName" [(ngModel)]="ingredientName"> -->
      <div>
        <input type="text" placeholder="Find by RecipeName" [(ngModel)]="recipeNameSearch">
      </div>
      <button type="submit" (click)="search(recipeNameSearch)">SEARCH</button>
    </div>
</div>
