Data/Raw_DataSets/
Data/Cleaned_DataSets/
Data/DatasetStructure/comments/*.json
Data/DatasetStructure/ingredients/*.json
Data/DatasetStructure/ingredients/*.csv
Data/DatasetStructure/posts/*.json
Data/DatasetStructure/recipes/*.json
Data/DatasetStructure/star_rankings/*.json
Data/DatasetStructure/users/*.json
Data/DatasetStructure/0Raw_Datasets/*.csv
Data/DatasetStructure/0Raw_Datasets/*.pkl
