<div>
    <button (click)="toggleDropdown()">Most recent post by calories</button>
    <div [ngClass]="{'dropdown-visible': isActiveDropdown()}" class="dropdown-container">

      <div>
        <label>Min value</label>
        <span class="slider-label">{{min}}</span>
        <input type="range" min="0" max="10000" class="slider" name="min" [(ngModel)]="min" (input)="onMinChange()">
        
        <label>Max value</label>
        <span class="slider-label">{{max}}</span>
        <input type="range" min="0" max="10000" class="slider" name="max" [(ngModel)]="max" (input)="onMaxChange()">

        <label>Hours</label>
        <span class="slider-label">{{hours_var}}</span>
        <input type="range" min="1" max="87600" class="slider" name="hours_var" [(ngModel)]="hours_var">
        <label>Number of Posts</label>
        <span class="slider-label">{{limit_var}}</span>
        <input type="range" min="3" max="120" step="3" class="slider" name="limit_var" [(ngModel)]="limit_var">
      </div>
      <button type="submit" (click)="onExecute()">SEARCH</button>
      
    </div>
</div>
