<!DOCTYPE html>
<html lang="en">

<body>
  <header>
    <div class="search-bar">
      <input type="text" [(ngModel)]="recipeName" placeholder="Inserisci il nome della ricetta">
      <!-- <button (click)="searchRecipes()">Cerca</button> -->
    </div>
    <div class="ingredient-section">
      <input type="text" [(ngModel)]="ingredientName" placeholder="Inserisci l'ingrediente">
      <!-- <button (click)="addIngredient()">Aggiungi</button> -->
    </div>
  </header>

  <aside>
    <button>Bottone 1</button>
    <button>Bottone 2</button>
    <button>Bottone 3</button>
  </aside>

  <main>
    <div class="post-section">
      <!-- <div ng-repeat="post in posts" class="post"> -->
        <!-- <img ng-src="{{post.imageUrl}}" alt="{{post.name}}"> -->
        <!-- <p>{{post.name}}</p> -->
      <!-- </div> -->
    </div>
  </main>
</body>

</html>