.popup-overlay {
  padding: 0px 60px 30px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; 
  /* border: 5px solid #6A040F; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 1001;
  border-radius: 5px; /* Smussa il bordo dei bottoni */
  text-align: center; /* Centra il testo del titolo */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 490px;
  height: 630px;
  font-family: Calibri, sans-serif;
}

.close-btn {
  font-size: 30px;
  cursor: pointer;
  color: #6A040F;
  position: relative;
  font-weight: bolder;
  right: -220px;
}

.close-btn:hover {
  color: #FFBA08;
}


.newPost {
  margin-top: -10px;
  font-weight: normal; /* Rende il testo corsivo */
  color: #6A040F; /* Utilizza il colore desiderato per il testo */
  font-size: 17px;
  margin-bottom: 10px; /* Ridotto il margine per evitare spazi eccessivi */
  top: -15px;
}


.popup-content {
  max-height: 50px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px; /* Aggiunto per spaziare il contenuto dal titolo */
  flex-grow: 1;
  overflow-y: auto;
}

.recipeInfo {
  padding: 0px 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.recipeImage {
  border-radius: 5px;
  width: 100%;
  max-height: 290px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 12px;
}

.previewIMG {
  box-sizing: border-box;  
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
}


.recipeImage img {
  width: 100%;
  min-height: 100%; /* Assicura che l'altezza dell'immagine copra la colonna */
  object-fit: cover; /* Mantiene le proporzioni mentre copre l'area della colonna */
  object-position: center; /* Mantiene il centro dell'immagine visibile */
  transition: transform 0.3s ease;
}
.recipeImage img:hover {
  transform: scale(1.1);
}

.recipeImage:hover img {
  transform: scale(1.1);
}

.recipeImage img.visible {
  display: block;
}


div.container-totalCalories {
  position: relative;
  width: 390px;
  height: 0px;
  visibility: hidden;
}

div.totalCalories {
  position: relative;
  bottom: 66px;
  padding: 10px 8px;
  background-color: rgba(106, 4, 15, 0.8); /* Colore di sfondo del riquadro */
  border-radius: 0px; /* Rendi i bordi del riquadro arrotondati */
  width: 100%; /* Larghezza del riquadro basata sul contenuto */
  font-weight: bolder;
  font-size: 20px;
  color: white;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

div.totalCalories span {
  font-size: 17px;
  font-weight: normal;
}

.previewIMG:hover + div.container-totalCalories {
  visibility: visible;
}   

.container-totalCalories:hover {
  visibility: visible;
}


/* INPUT FOR IMAGE UPLOAD */
input.imageUpload {
  border: 2px soli transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: white; /* Colore di sfondo rosso scuro */
  border-radius: 5px; /* Bordo arrotondato */
  font-size: 16px; /* Dimensione del font */
  font-weight: bold; /* Grassetto */
  color: #6A040F; /* Colore del testo */
  cursor: pointer; /* Cursor pointer per indicare che è cliccabile */
  border: 2px solid transparent; 
  margin-bottom: 10px;
}

input.imageUpload::file-selector-button {
  background-color: #6A040F;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px; 
  margin-right: 20px;
  cursor: pointer;
}

input.imageUpload:focus {
  outline: none;
  border: 2px solid #FAA307; /* Bordi arancioni quando in focus */
}

input.imageUpload::-webkit-file-upload-button {
  cursor: pointer;
}

.title {
  margin-top: 5px;
  font-weight: bolder; /* Rende il testo corsivo */
  color: #6A040F; /* Utilizza il colore desiderato per il testo */
  font-size: 20px;
  margin-bottom: 10px; /* Ridotto il margine per evitare spazi eccessivi */
  top: -15px;
  border-radius: 5px;
  border: none;
  background-color: white;
  padding: 5px 10px;
  border: 2px solid transparent;
  text-align: center;
}
.title::placeholder {
  color: #6A040F;
  opacity: 0.85; 
  text-align: center;
}

.title:focus {
  outline: none;
  border: 2px solid #FAA307;
}

.item {
  margin-bottom: 10px;
}



/* Nascondi la barra di scorrimento orizzontale */
.popup-content::-webkit-scrollbar {
  display: none;
}



/* DESCRIPTION */
.description {
  box-sizing: border-box;
  padding: 3px 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 45px;
  max-height: 45px;
  overflow-y: auto;
  resize: none;
  text-align: justify;
  color: #6A040F;
  font-size: 16px;
  text-align: left;     
  border: 2px solid #6A040F;
  font-family: Calibri, sans-serif;
  border-radius: 5px;
}

.description:focus {
  outline: none;
  border: 2px solid #FAA307;
}

.description::placeholder {
  color: #6A040F;
  opacity: 0.85; 
  text-align: center;
}



/* TOGGLE */

div.ingredientsANDsteps{
  margin-top: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

button.toggle {
  margin: 3px 0px;
  width: 100%;
  padding: 10px 0px;
  font-size: 13px;
  background-color: #6A040F;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

button.toggle:hover {
  background-color: #9D0208;
}


.ingredientsWrapper {
  width: 100%;

}

/* INGREDIENTS */
 
input.newIngredient {
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #6A040F;
  border-radius: 5px; /* Bordo arrotondato */
  font-size: 16px; /* Dimensione del font */
  font-weight: bold; /* Grassetto */
  color: white;
  /* change placeholder color */
}
input.newIngredient::placeholder {
  color: #FFFFFF;
  opacity: 0.95; 
  text-align: center;
}

input.newIngredient:focus {
  outline: none;
  border-bottom: 3px solid #FAA307;
}


/*listIngredientsAdded*/
.listIngredientsAdded {
  margin-top: 8px;
  max-height: 180px;
  overflow-y: auto; /* Abilita lo scroll verticale se l'elenco è più lungo dell'altezza massima */
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px; /* Bordo arrotondato */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFFFFF;
  border: 2px solid #9D0208;
}

.ingredient, .step {
  padding: 5px 10px 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9D0208;
}

.ingredientName {
  margin: 0;
  padding: 0px 15px;
  font-size: 18px;
  text-align: left;
  align-items: center;
  color: #6A040F;
  font-weight: bold;
}

.containerQ {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ingredientQuantity {
  border: 1px solid transparent;
  width: 50px;
  color: #6A040F;
  font-weight: bold;
  font-size: 15px;
}

.ingredientQuantity:focus {
  outline: none;
}

.ingredientUnit {
  color: #F48C06;
  font-weight: bolder;
  font-size: 15px;
  margin-right: 20px;
  cursor: default;
}

span.remove {
  position: relative;
  font-size: 30px;
  right: 0px;
  cursor: pointer;
  font-weight: bold; 
  color: #6A040F;
  transition: 0.2s;
  bottom: 2px;
}

span.remove:hover {
  transition: 0.2s;
  color: #F48C06;
}


.stepText {
  margin: 0;
  padding: 0px 10px;
  font-size: 15px;
  text-align: left;
  align-items: center;
  color: #6A040F;
  font-weight: normal;
}



/* STYLE INGREDIENT LIST */
.dropdownList {
  margin-top: 8px;
  max-height: 200px;
  overflow-y: auto; /* Abilita lo scroll verticale se l'elenco è più lungo dell'altezza massima */
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px; /* Bordo arrotondato */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FFFFFF;
  border: 2px solid #9D0208;
}

span.listElement{
  margin: 0;
  padding: 10px 15px;
  font-size: 18px;
  text-align: left;
  display: flex;;
  justify-content: space-between;
  align-items: center;
  color: #6A040F;
  font-weight: bold;
  border-bottom: 1px solid #9D0208;
  cursor: pointer;
}

span.calories {
  position: relative;
  font-size: 18px;
  right: 0px;
  font-weight: bold; 
  color: #F48C06;
}

span.calories span{
  font-size: 13px;
  color: #6A040F;
  font-weight: bold;
}


/* SUBMIT POST */
button.submit {
  box-sizing: border-box;
  margin-top: 15px;
  width: 100%;
  padding: 10px 0px;
  font-size: 15px;
  background-color: #F48C06;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.submit:hover {
  background-color: #FAA307;
}