<div class="popup-overlay">
  <span class="close-btn" (click)="close()">&times;</span>
  <label class="newPost">Upload New Post</label>


  <div class="recipeInfo">
    <input class="title" type="text" [(ngModel)]="post.recipe.name" placeholder="Recipe name">
  </div>

  <div class="recipeImage" *ngIf="!addingIngredients && !addingSteps">
    <input class="imageUpload" type="file" (change)="onFileSelected($event)" accept="image/*">
    <div class="previewIMG">
      <img src="{{ post.recipe.image !== 'DEFAULT' ? post.recipe.image : '../../../../../assets/images/default_recipe.jpg' }}" alt="Recipe Image">
    </div>
    <div class="container-totalCalories"><div class="totalCalories">{{ post.recipe.totalCalories }} <span>kcal</span></div></div>
  </div>

  <textarea *ngIf="!addingIngredients && !addingSteps" placeholder="Type your description" required class="description" [(ngModel)]="post.description"></textarea>

  <div class="ingredientsANDsteps">
    <button *ngIf="!addingSteps" class="toggle" (click)="toogleIngredients()">{{addingIngredients ? 'HIDE' : 'INGREDIENTS'}}</button>
    <button *ngIf="!addingIngredients" class="toggle" (click)="toogleSteps()">{{addingSteps ? 'HIDE' : 'STEPS'}}</button>
  </div>

  <div *ngIf="addingIngredients" class="ingredientsWrapper">
    <div *ngIf="post.recipe.ingredients.size !== 0" class="listIngredientsAdded">
      <div *ngFor="let ingredient of post.recipe.ingredients | keyvalue" class="ingredient">
        <label class="ingredientName">{{ingredient.key}}</label>
        <div class="containerQ">
          <div>
            <input class="ingredientQuantity" [(ngModel)]="ingredient.value" value="ingredient.value" name="quantity" type="number" (change)="updateTotalCalories(ingredient.key, ingredient.value)" required>
            <span class="ingredientUnit">grams</span>
          </div>
          <span (click)="removeIngredient(ingredient.key)" class="remove">&times;</span>
        </div>
      </div>
    </div>
    <input class="newIngredient" type="text" placeholder="Add New Ingredient" name="ingredientName" [(ngModel)]="ingredientName" (focus)="showList=true">
    <div *ngIf="showList" class="dropdownList">
      <span *ngFor="let ingredient of ingredientsRemaining | filterIngredient:ingredientName" 
          (mouseenter)="setIngredientDetailed(ingredient)"
          (mouseleave)="setIngredientDetailed(null)"
          (click)="addIngredient(ingredient.name)" 
          class="listElement">
        
          {{ ingredient.name }}

        <span *ngIf="ingredientDetailed === ingredient" class="calories">{{ ingredient.calories }}<span> kcal/100g</span></span>
      </span>
    </div>
  </div>

  <div *ngIf="addingSteps" class="ingredientsWrapper">
    <div *ngIf="post.recipe.steps.length !== 0" class="listIngredientsAdded">
      <div *ngFor="let item of post.recipe.steps" class="ingredientsAdded">
        <div class="step">
          <label class="stepText">{{ item }}</label>
          <span (click)="removeStep(item)" class="remove">&times;</span>
        </div>
      </div>
    </div>
    <input *ngIf="!showList" class="newIngredient" type="text" placeholder="Add New Step" name="step" [(ngModel)]="stepBeingInserted" (keyup.enter)="addStep()"> 
  </div>

  <button class="submit" *ngIf="!addingIngredients && !addingSteps" (click)="submitPost()">SUBMIT POST</button>
</div>
  
  
