<div>
  <button (click)="toggleDropdown()">Find users who used an ingredient the most</button>
  <div [ngClass]="{'dropdown-visible': isActiveDropdown()}" class="dropdown-container">
    <input class="newIngredient" type="text" placeholder="Ingredient name" name="ingredientName" [(ngModel)]="ingredientName" (click)="newIngredientIsBeingInserted()">
    
    <div *ngIf="showList" class="dropdownList">
      <span *ngFor="let ingredient of ingredientsList | filterIngredient:ingredientName" 
           (mouseenter)="setIngredientDetailed(ingredient)"
           (mouseleave)="setIngredientDetailed(null)"
           (click)="setIngredient(ingredient.name)" 
           class="listElement">
        {{ ingredient.name }}
        <span *ngIf="ingredientDetailed === ingredient" class="calories"> ({{ ingredient.calories }}<span>kcal/100g)</span></span>
    </span>
    </div>
    
    <button type="submit" (click)="execute()">SEARCH</button>

    <div *ngIf="suggestions.length !== 0" class="dropdownList">
      <span *ngFor="let suggestion of suggestions" class="listElement">{{ suggestion.username }}</span>
    </div>
  </div>
</div>
