<!DOCTYPE html>
<html>
<head>
    <title>La mia App di Ricette</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">WeFood</div>
            <div class="menu">
                <button id="loginButton" (click) = "openPopup()">Login</button>
                <button id="signupButton">Registrati</button>
            </div>
        </nav>
    </header>
    <main>
        <div class="grid-container">
            <!-- <div class="grid-row"> -->
                <div class="grid-col" *ngFor="let item of list_of_posts">
                    <img src="data:image/jpeg;base64,{{item.image}}" alt="Immagine ricetta">
                    <div class="label">{{ item.recipeName }}</div>
                <!-- </div> -->
            </div>
        </div>        
    </main>
    <footer>
        <!-- Informazioni sul footer -->
    </footer>
</body>
</html>

<!-- home.component.html -->
<app-logging-popup *ngIf="showLoginPopup" (close)="closePopup()" (closePopup)="closePopup()"></app-logging-popup>

