<!-- login-popup.component.html -->
<div class="login-popup">
  <form *ngIf="!signUp">
      <label class="close" (click)="close()">&times;</label>
      <label class="login">{{ adminLogin ? 'Admin Login' : 'Login' }}</label>

      <input [(ngModel)]="username" name="username" type="text" placeholder="Username" required>
      <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required>

      <label class="response" [ngClass]="{'visible': response}">{{response_msg}}</label>

      <button type="submit" (click)="adminLogin ? loginAsAdmin() : loginAsUser()" [disabled]=" username == '' || password == '' ">Login</button>
      <label class="info" [ngClass]="{'invisible': adminLogin}">Not Registered yet?  <a (click)="switchSignUp()">Sign Up now!</a></label>

      <span (click)="switchLogin()" class="admin">
        {{ adminLogin ? 'User' : 'Admin' }}
      </span>
  </form>
  <form *ngIf="signUp">
      <label class="close" (click)="close()">&times;</label>
      <label class="login">Sign Up</label>

      <input [(ngModel)]="username" name="username" type="text" placeholder="Username" required>
      <input [(ngModel)]="name" name="name" type="text" placeholder="Name" required>
      <input [(ngModel)]="surname" name="surname" type="text" placeholder="Surname" required>
      <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
      <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" required>
      <label class="checkPassword" [ngClass]="{'visible': password !== confirmPassword}">Passwords do not match.</label>

      <label class="response" [ngClass]="{'visible': response}">{{response_msg}}</label>

      <button type="submit" (click)="register()">Sign Up</button>
      <label class="info">Already Registered?  <a (click)="switchSignUp()">Login now!</a></label>
  </form>
</div>

