<!-- login-popup.component.html -->
<div class="login-popup">
    <form>
      <h3>{{ adminLogin ? 'Login as Admin' : 'Login as User' }}</h3>
  
      <input [(ngModel)]="username" name="username" type="text" placeholder="Username" required>
      <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required>
  
      <button type="submit" (click)="adminLogin ? loginAsAdmin() : loginAsUser()">Login</button>
      <button type="button" (click)="close()">Chiudi</button>
  
      <span (click)="switchLogin()" style="cursor: pointer;">
        {{ adminLogin ? 'Turn to user' : 'Turn to admin' }}
      </span>
    </form>
  </div>
  