<div class="popup-overlay">
    <span class="close-btn" (click)="close()">&times;</span>

    <label class="username" (click)="goToUserPage()" >{{ post.username }}</label>
    <label class="timestamp">{{ getTimeStamp(post.timestamp) }}</label>
    
    <div class="recipeInfo">
        <label class="title">{{ post.recipe.name }}</label>
        <label *ngIf="post.avgStarRanking !== -1" class="avgStarRanking"><img src="../../../assets/images/avgStarRanking.png">{{ post.avgStarRanking.toFixed(2) }}</label>
    </div>

    
    <div class="recipeImage" (click)="showIngredients()" [ngClass]="{'invisible': comments_visible || starRankings_visible}">
        <img [ngClass]="{'visible': !ingredients}" src="data:image/jpeg;base64,{{ post.recipe.image }}" alt="Immagine ricetta" width="100px">
        <label class="info" [ngClass]="{'visible': ingredients}">Ingredients</label>
        <ul class="ingredients" [ngClass]="{'visible': ingredients}">
            <li *ngFor="let ingredient of post.recipe.ingredients | keyvalue" class="ingredient">
                &bull; {{ ingredient.key }}:
                <span class="quantity">{{ingredient.value}} <span>grams</span></span>
            </li>
        </ul>
        <label class="info" [ngClass]="{'visible': ingredients}">Steps</label>
        <div class="steps" [ngClass]="{'visible': ingredients}">
            <span class="step" *ngFor="let step of post.recipe.steps">
                &bull; {{ step }}
            </span>
        </div>  
    </div>
    <div [ngClass]="{'invisible': ingredients}" class="container-totalCalories"><div class="totalCalories" [ngClass]="{'visible': !ingredients}">{{ post.recipe.totalCalories }} <span>kcal</span></div></div>

    <div class="description">
        <label *ngIf="!editingDescription">{{ post.description }}</label>
        <textarea class="descriptionTextArea" *ngIf="editingDescription" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' onmouseover='this.style.height = "";this.style.height = this.scrollHeight + "px"' [(ngModel)]="post.description" >{{ post.description }}</textarea>
        <img *ngIf="!editingDescription && post.username === getUser().username" class="modifyInteraction" src="../../../assets/images/pencil.png" (click)="startModifyDescription()">
        <img *ngIf="editingDescription  && post.username === getUser().username" class="modifyInteraction" src="../../../assets/images/check.png" (click)="modifyDescription()">
    </div>

    <!-- Star ranking section -->
    <div class="container-star-ranking" *ngIf="!checkIfAdmin()">
        <div class="star-ranking" *ngIf="!comments_visible" [ngClass]="{'nohover': selectedStar !== 0}">
            <span [ngClass]="{'hover': selectedStar === 0}" *ngFor="let star of [1, 2, 3, 4, 5]" (click)="votePost(star)" [class.selected]="star <= selectedStar">&#9733;</span>
        </div>
        <img class="deleteInteraction" src="../../../assets/images/recycle-bin.png" *ngIf="(!comments_visible) && (personalVote.vote != 0)" (click)="deleteVote()">
    </div>



    <div class="interactions">
        <button *ngIf="!starRankings_visible" class="toggle" (click)="toogleComments()">{{comments_visible ? 'HIDE' : 'COMMENTS'}}</button>
        <button *ngIf="!comments_visible" class="toggle" (click)="toogleStarRankings()">{{starRankings_visible ? 'HIDE' : 'VOTES'}}</button>
    </div>


    <div class="commentsWrap" *ngIf="comments_visible">
        <label class="info visible">Comments</label>

        <div class="comments">
            
            <label *ngIf="post.comments.length === 0" class="noComments">No comments</label>
                        
            <div *ngIf="post.comments.length !== 0">
                <div class="comment" *ngFor="let comment of post.comments" >
                    
                    <div class="container-header-comment">
                        <label class="usernameComment" (click)="goToUserPageByUsername(comment.username)">{{ comment.username }} <label class="commentTimestamp"> | {{getTimeStamp(comment.timestamp)}}</label></label>
                        <div>
                            <img *ngIf="(!isCommentBeingModified(comment)) && (comment.username === getUser().username)" class="modifyInteraction" src="../../../assets/images/pencil.png" (click)="startModifyComment(comment)">
                            <img *ngIf="isCommentBeingModified(comment) && comment.username === getUser().username" class="modifyInteraction" src="../../../assets/images/check.png" (click)="modifyComment(comment)">
                            <img class="deleteInteraction" src="../../../assets/images/recycle-bin.png" *ngIf="canDeleteComment(comment)" (click)="deleteComment(comment)">
                        </div>
                    </div>

                    <textarea class="commentTextArea" *ngIf="isCommentBeingModified(comment)" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' onmouseover='this.style.height = "";this.style.height = this.scrollHeight + "px"' [(ngModel)]="comment.text" >{{comment.text}}</textarea>
                    <label class="commentText" *ngIf="!isCommentBeingModified(comment)">{{comment.text}}</label>
                
                </div>
            </div>

        </div>

        <div class="comment-box" *ngIf="!checkIfAdmin()">
            <input class="newCommentText" [(ngModel)]="newCommentText" placeholder="Add a Comment">
            <label (click)="commentPost()">&#x279C;</label>
        </div>

    </div>

    <div class="starRankingsWrap" *ngIf="starRankings_visible">
        <label class="info visible">Votes</label>

        <div class="starRankings">
            <label *ngIf="post.starRankings.length === 0" class="noStarRankings">No votes</label>

            <div *ngIf="post.starRankings.length !== 0">
                <div class="starRanking" *ngFor="let vote of post.starRankings">
                    <div class="container-header-starRanking">
                        <label class="usernameStarRanking" (click)="goToUserPageByUsername(vote.username)">{{vote.username}}</label> 
                    </div>
                    <div class="starRankingStars">
                        <span *ngFor="let star of [1, 2, 3, 4, 5]" [class.selected]="star <= vote.vote">&#9733;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      
    <img *ngIf="canDelete()" class="delete" src="../../../assets/images/recycle-bin.png" (click)="deletePost()">
</div>
