<!DOCTYPE html>
<html lang="en">

<body>
  <header>
    <nav>
      <div class="logo">
        <label (click)="modifyPersonalInfo()"> {{ getUser().username }}
          <img src="../../assets/images/icon.png" alt="Logo WeFood">
        </label>
      </div>
      <div class="menu">
        <button class="homeButton" (click)="goToHomePage()"><img src="../../assets/images/home.png">FEED</button>
        <button id="friendsButton" (click)="showFriends()">FRIENDS</button>
        <button id="followersButton" (click)="showFollowers()">FOLLOWERS</button>
        <button id="followedButton" (click)="showFollowed()">FOLLOWED</button>
        <button id="logoutButton" (click)="logout()">LOGOUT</button>
      </div>
    </nav>
  </header>


  <main>
    <div class="overlay" *ngIf="post_visible || modifyPersonalInfoPopup || showUsersPopup"></div>
    
    <div class="side left">
      
      <div *ngIf="top_ingredients.length !== 0"  class="most-used-ingredients">
        <span>Most Used Ingredients</span>
        <div class="ingredient-list">
          <span *ngFor="let ingredient of top_ingredients | keyvalue; let i = index" [class.gold]="i === 0" [class.silver]="i === 1" [class.bronze]="i === 2">
            {{ingredient.value}}
          </span>
        </div>
      </div>

       <!-- avgTotalCalByUser -->
      <div *ngIf="list_of_posts.length !== 0" class="avg-calories">
        <label>Average Total Calories</label>
        <span class="average"> {{avgTotalCalories.toFixed(2)}} <span>kcal</span></span>
      </div>

    </div>


    <div *ngIf="isLoading" class="loading-container">
        <div class="loading"></div>
    </div>
    
    <div *ngIf="!isLoading" [ngClass]="{'noposts': list_of_posts.length === 0}" class="grid-container">
      <div class="grid-col" *ngFor="let item of list_of_posts">
        <img src="data:image/jpeg;base64,{{item.image}}" alt="Immagine ricetta" (click)="viewPost(item)">
        <div class="label">{{ item.recipeName }}</div>
      </div>
      <img *ngIf="list_of_posts.length === 0" src="../../assets/images/SadBread.png" alt="No Posts Found" class="noposts">
      <label *ngIf="list_of_posts.length === 0" class="noposts">No Posts Found</label>
    </div>    
    
    <div class="side right">

      <!-- find users to follow based on user's friends -->
      <div *ngIf="usersToFollowBasedOnFriends.length !== 0" class="suggest-by-friends">
        <span>You may know</span>
        <div class="container-suggested">
          <div class="suggested-list">
            <span *ngFor="let user of usersToFollowBasedOnFriends" (click)="goToUserPage(user)"> {{user.username}} </span>
          </div>
        </div>
      </div>
      
      <!-- find most followed users -->
      <div class="suggest-most-followed-users">
        <span>Most Followed Users</span>
        <div class="suggested-list">
          <span *ngFor="let user of mostFollowed; let i = index" [class.gold]="i === 0" [class.silver]="i === 1" [class.bronze]="i === 2" (click)="goToUserPage(user)">
            {{user.username}}
          </span>
        </div>
      </div>

    </div>    
  
  </main>
</body>

</html>

<app-view-list-of-users *ngIf="showUsersPopup" [labelUsers]="labelUsers" [users]="users" (closePopup)="closePopup()"></app-view-list-of-users>
<app-view-post *ngIf="post_visible" [postDTO]="postDTO_to_be_viewed" (closePost)="closePost()"></app-view-post>
<app-modify-personal-information *ngIf="modifyPersonalInfoPopup" (closePopup)="closePopup()"></app-modify-personal-information>
