div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

button {
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0;
  background-color: #6A040F; /* Colore di sfondo principale */
  color: white; /* Colore del testo */
  border: none; /* Nessun bordo */
  border-radius: 5px; /* Bordo arrotondato */
  font-size: 16px; /* Dimensione del font */
  font-weight: bold; /* Grassetto */
  text-transform: uppercase; /* Testo in maiuscolo */
  cursor: pointer; /* Cambia il cursore in un puntatore */
  transition: background-color 0.3s, transform 0.2s; /* Transizione fluida per hover e click */
}

button:hover {
  background-color: #9D0208; /* Cambia colore al passaggio del mouse */
  transform: scale(1.1); /* Leggera scala su hover */
}

button:active {
  background-color: #D00000; /* Colore quando il pulsante è premuto */
  transform: scale(0.95); /* Riduci la scala quando cliccato */
}
  
  /* CONTENITORE DEL MENU A TENDINA */
  .dropdown-container {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #FFFCEB;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    max-height: 0; /* Imposta l'altezza massima iniziale a 0 */
  }
  
  /* STILE QUANDO IL MENU A TENDINA È VISIBILE */
  .dropdown-visible {
    /* padding: 5px; */
    max-height: 200px; /* Regola questa altezza in base al contenuto del menu */
    transition: 0.3s ease-in-out;
  }
  
  /* INPUT ALL'INTERNO DEL MENU A TENDINA */
  .dropdown-container button {
    background-color: #F48C06;
    color: #FFFFFF;
    font-weight: bold;
  }
  
  .dropdown-container div {
    width: 100%;
    box-sizing: border-box;
    /* margin: 5px 0; */
    padding: 8px;
    border: 2px solid #FFFFFF; /* Bordi colorati */
    background-color: #FFFCEB;
    border-radius: 5px; /* Bordo arrotondato */
    font-size: 14px; /* Dimensione del font */
    font-weight: bold; /* Grassetto */
    color: #9D0208;
    text-align: center;
    /* change placeholder color */
  }



.dropdown-container input {
  width: 100%;
  box-sizing: border-box;
  /* margin: 5px 0; */
  padding: 8px;
  border: 2px solid #FFFFFF; /* Bordi colorati */
  background-color: #FFFCEB;
  border-radius: 5px; /* Bordo arrotondato */
  font-size: 14px; /* Dimensione del font */
  font-weight: bold; /* Grassetto */
  color: #6A040F;
  /* change placeholder color */
  margin-bottom: 5px;
}
.dropdown-container input::placeholder {
  color: #6A040F;
  opacity: 0.7; /* Firefox */
  text-align: center;
}

.dropdown-container input:focus {
  color: #6A040F;
  border: #FFCD00 2px solid;
  outline: none;
  opacity: 0.7; /* Firefox */
  background-color: transparent;
  /* text-align: center; */
}
  
/* STILE MIN AND MAX*/

  .dropdown-container label {
    position: relative;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #370617;
    font-weight: light;
}


button.find:hover {
  background-color: #FAA307; 
  transform: scale(1);
}