<!DOCTYPE html>
<html lang="en">

<body>
  <header>
    <nav>
      <div class="logo">
        <label> Dashboard
          <img src="../../assets/images/icon.png" alt="Logo WeFood">
        </label>
      </div>

      <div class="menu">
        <button id="logoutButton" (click)="logout()">LOGOUT</button>
      </div>
    </nav>
  </header>

  <main>
    <div class="side left">

      <div class="container-button">
        <button (click)="openIngredientCreation()">Create Ingredient</button>
        <button (click)="goToAdminFeed()">FEED</button>
        <app-find-user-by-username></app-find-user-by-username>
      </div>
      
      <div class="popup-overlay" *ngIf="ingredientCreation">
        <label class="close" (click)="closeIngredientCreation()">&times;</label>
    
        <label class="title">Create Ingredient</label>
        
        <form>
        
            <label class="info">Ingredient Name</label>
            <input [(ngModel)]="newIngredient.name" name="ingredient_name" type="text" placeholder="Ingredient Name" required>
            <label class="info">Calories</label>
            <input [(ngModel)]="newIngredient.calories" name="calories" type="text" placeholder="Calories" required>
    
            <button type="submit" (click)="createIngredient()">CREATE</button>
        </form>
     
      </div>

       <!-- find most followed users -->
      <div class="suggest-most-followed-users">
        <span>Most Followed Users</span>
        <div class="suggested-list">
          <span *ngFor="let user of mostFollowed; let i = index" [class.gold]="i === 0" [class.silver]="i === 1" [class.bronze]="i === 2" (click)="goToUserPage(user)">
            {{user.username}}
          </span>
        </div>
      </div>

    </div>

    <div class="middle">

      <div class="interactionChart">
        <span>Interaction Analysis</span>
        <canvas #myChart class="chart"></canvas>
      </div>
  
      <!-- find banned users -->
      <div *ngIf="getBannedUsers().length !== 0" class="banned-users">
        <span>Banned Users</span>
        <div class="container-banned-list">
          <div class="banned-list">
            <span *ngFor="let user of getBannedUsers()" (click)="goToUserPage(user)">
              {{user.username}}
            </span>
          </div>
        </div>
      </div> 

    </div>

    <div class="side right">
      
      <div class="most-used-ingredients">
        <span>Most Used Ingredients</span>
        <div class="ingredient-list">
          <span *ngFor="let ingredient of top_ingredients | keyvalue; let i = index" [class.gold]="i === 0" [class.silver]="i === 1" [class.bronze]="i === 2">
            {{ingredient.value}}
          </span>
        </div>
      </div>
      
      <div class="least-used-ingredients">
        <span>Least Used Ingredients</span>
        <div class="ingredient-list">
          <span *ngFor="let ingredient of least_ingredients | keyvalue">
            {{ingredient.value}}
          </span>
        </div>
      </div>
    
    </div>

  </main>
</body>

<html>