<!DOCTYPE html>
<html lang="en">

<body>
  <header>
    <nav>
      <div class="logo">
        <label> Dashboard
          <img src="../../assets/images/icon.png" alt="Logo WeFood">
        </label>
      </div>
      
      <!--
      <div class="user-info">
        <input type="text" placeholder="Cerca per RecipeName" [(ngModel)]="recipeNameSearch">
        <input type="text" placeholder="Cerca per Username" [(ngModel)]="usernameSearch">
      </div>
        <button (click)="searchRecipe()">Find Post</button>
        <button (click)="searchUser()">Find User</button>
      -->
      <div class="menu">
        <button id="logoutButton" (click)="logout()">LOGOUT</button>
      </div>
    </nav>
  </header>

  <main>
    <div class="side left">

      <div class="container-button">
        <button (click)="openIngredientCreation()">Create Ingredient</button>
        <button (click)="goToAdminFeed()">FEED</button>
        <app-find-user-by-username></app-find-user-by-username>
      </div>
      <!--<button>FIND USER</button>-->

      <div class="popup-overlay" *ngIf="ingredientCreation">
        <label class="close" (click)="closeIngredientCreation()">&times;</label>
    
        <label class="title">Create Ingredient</label>
        
        <form>
        
            <label class="info">Ingredient Name</label>
            <input [(ngModel)]="newIngredient.name" name="ingredient_name" type="text" placeholder="Ingredient Name" required>
            <label class="info">Calories</label>
            <input [(ngModel)]="newIngredient.calories" name="calories" type="text" placeholder="Calories" required>
    
            <button type="submit" (click)="createIngredient()">CREATE</button>
        </form>
     
      </div>

       <!-- find most followed users -->
      <div class="suggest-most-followed-users">
        <span>Most Followed Users</span>
        <div class="suggested-list">
          <span *ngFor="let user of mostFollowed; let i = index" [class.gold]="i === 0" [class.silver]="i === 1" [class.bronze]="i === 2" (click)="goToUserPage(user)">
            {{user.username}}
          </span>
        </div>
      </div>


      <!--
      <app-most-popular-combination-of-ingredients></app-most-popular-combination-of-ingredients>
      <app-browse-most-recent-top-rated-posts></app-browse-most-recent-top-rated-posts>
      <app-browse-most-recent-top-rated-post-by-ingredients></app-browse-most-recent-top-rated-post-by-ingredients>
      <app-browse-most-recent-posts-by-calories></app-browse-most-recent-posts-by-calories>
      <app-find-recipe-by-ingredients></app-find-recipe-by-ingredients>
      <app-find-post-by-recipe-name></app-find-post-by-recipe-name>
      <app-calories-analysis></app-calories-analysis>
      <div class="user-info">
        <input type="text" placeholder="Find by username" [(ngModel)]="usernameSearch">
      </div>
        <button (click)="searchUser()">Find User</button>
      -->
    </div>

   <!-- <div *ngIf="isLoading" class="loading-container">
      <div class="loading"></div>
    </div>
    <div *ngIf="!isLoading" [ngClass]="{'noposts': filteredPosts.length === 0}" class="grid-container">
      <div class="grid-col" *ngFor="let item of filteredPosts">
        <img src="data:image/jpeg;base64,{{item.image}}" alt="Immagine ricetta">
        <div class="label">{{ item.recipeName }}</div>
      </div>
      <img *ngIf="filteredPosts.length === 0" src="../../assets/images/SadBread.png" alt="No Posts Found"
        class="noposts">
      <label *ngIf="filteredPosts.length === 0" class="noposts">No Posts Found</label>
    </div>
    -->

    <!--
    <div class="interaction-list">
      <h2>Interaction Analysis</h2>
      
      <!-- <ng-container > 
        <div class="interaction-group" *ngFor="let key of interactionKeys">
          <p class="group-title">{{ key }}</p>
          <!--<div>{{key}}</div>
          
          <div *ngFor="let interactionKey of interactionValues[key] | keyvalue">
            <div class="bar-container">
              <p class="key-text">{{ interactionKey.key }}</p>
              <div class="bar-outer">
                <div class="bar-inner" [style.width.%]="(interactionValues[key] / 10) * 100">
                  <p class="label-inside">{{ interactionValues[key]['IMAGE'] }}</p>
                  <p class="label-inside">{{ interactionValues[key]['NOIMAGE'] }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </ng-container>
    </div> -->  

    <div class="middle">

      <div class="interactionChart">
        <span>Interaction Analysis</span>
        <canvas #myChart class="chart"></canvas>
      </div>
  
     <!-- find banned users -->
     <div *ngIf="getBannedUsers().length !== 0" class="banned-users">
      <span>Banned Users</span>
      <div class="container-banned-list">
        <div class="banned-list">
          <span *ngFor="let user of getBannedUsers()" (click)="goToUserPage(user)">
            {{user.username}}
          </span>
        </div>
      </div>
     </div> 

    </div>

    <div class="side right">
      
      <div class="most-used-ingredients">
        <span>Most Used Ingredients</span>
        <div class="ingredient-list">
          <span *ngFor="let ingredient of top_ingredients | keyvalue; let i = index" [class.gold]="i === 0" [class.silver]="i === 1" [class.bronze]="i === 2">
            {{ingredient.value}}
          </span>
        </div>
      </div>
      
      <div class="least-used-ingredients">
        <span>Least Used Ingredients</span>
        <div class="ingredient-list">
          <span *ngFor="let ingredient of least_ingredients | keyvalue">
            {{ingredient.value}}
          </span>
        </div>
      </div>
    </div>

  </main>
</body>

<html>