/* PAGE */

body {
  margin: 100px 0 0;
  padding: 0;
  font-family: Calibri, sans-serif;

}

/* HEADER */

header {
  background-color: #6A040F;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  padding: 0;
  top: 0;
  z-index: 1000; 
  left: 0;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  height: 55px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo label {
  position: relative;
  top: -12px;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  padding-right: 5px;
  transition: 0.2s;
}

.logo label:hover {
  cursor: pointer;
  font-size: 35px;
  transition: 0.2s;
  padding-left: 0px;
}

.logo img {
  position: relative;
  top: 12px;
  width: 50px;
  height: 50px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu button {
  position: relative;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.05s;
  border: 3px solid;
  border-color: transparent;
}


.menu button:hover {
  border: 3px solid;
  border-color: #FFCD00;
  transition: 0.05s;
}

/* MAIN */

main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

div.overlay {
  z-index: 1;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 7, 30, 0.5); 
}

/* SIDEBAR */

.side {
  width: 30%;
  flex: 1;
}

.side.left {
  top: 150px;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side.right {
  top: 120px;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side.left > button {
  margin-bottom: 15px;
  width: 60%;
  box-sizing: border-box;
  padding: 15px 0;
  background-color: #6A040F; /* Colore di sfondo principale */
  color: white; /* Colore del testo */
  border: none; /* Nessun bordo */
  border-radius: 5px; /* Bordo arrotondato */
  font-size: 16px; /* Dimensione del font */
  font-weight: bold; /* Grassetto */
  text-transform: uppercase; /* Testo in maiuscolo */
  cursor: pointer; /* Cambia il cursore in un puntatore */
  transition: background-color 0.3s, transform 0.2s; /* Transizione fluida per hover e click */
}

.side.left > button:hover {
  background-color: #9D0208; /* Cambia colore al passaggio del mouse */
  transform: scale(1.1); /* Leggera scala su hover */
}

.side.left > button:active {
  background-color: #D00000; /* Colore quando il pulsante è premuto */
  transform: scale(0.95); /* Riduci la scala quando cliccato */
}

/* CONTENITORE DEL MENU A TENDINA */
.dropdown-container {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #FFFCEB;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  max-height: 0; /* Imposta l'altezza massima iniziale a 0 */
}

/* STILE QUANDO IL MENU A TENDINA È VISIBILE */
.dropdown-visible {
  /* padding: 5px; */
  max-height: 200px; /* Regola questa altezza in base al contenuto del menu */
  transition: 0.3s ease-in-out;
}

/* INPUT ALL'INTERNO DEL MENU A TENDINA */
.dropdown-container input {
  width: 100%;
  box-sizing: border-box;
  /* margin: 5px 0; */
  padding: 8px;
  border: 2px solid #FFFFFF; /* Bordi colorati */
  background-color: #FFFCEB;
  border-radius: 5px; /* Bordo arrotondato */
  font-size: 14px; /* Dimensione del font */
  font-weight: bold; /* Grassetto */
  color: #F25C54;
  /* change placeholder color */
}
.dropdown-container input::placeholder {
  color: #F25C54;
  opacity: 0.7; /* Firefox */
  text-align: center;
}

.dropdown-container input:focus {
  color: #F25C54;
  border: #FFCD00 2px solid;
  outline: none;
  opacity: 0.7; /* Firefox */
  /* text-align: center; */
}
/**/


/* SLIDER */

.slider-label {
  position: relative;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #999;
  font-weight: 400;
}
.slider {
  width: 400px;
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #00fd0a;
}


/* FEED VIEW*/

.grid-container {
  flex-direction: 4.67;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tre colonne di uguale larghezza */
  grid-gap: 10px; /* Spazio tra le colonne */
  padding: 10px; /* Padding attorno alla griglia */
  background-color: white; /* Colore di sfondo simile a quello di Instagram */
  max-width: 800px; /* Larghezza massima della griglia */
}

.grid-container.noposts {
  grid-template-columns: repeat(1, 1fr);
}

.grid-col {
  position: relative;
  overflow: hidden; /* Nasconde le parti dell'immagine che sforano */
  border-radius: 5px;
  background-color: white;
  height: 200px; /* Altezza fissa per ogni colonna */
}

.label {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  padding: 13px 8px;
  background-color: rgba(106, 4, 15, 0.8); /* Colore di sfondo del riquadro */
  border-radius: 0px; /* Rendi i bordi del riquadro arrotondati */
  width: 100%; /* Larghezza del riquadro basata sul contenuto */
  font-weight: bolder;
  font-size: 17px;
  color: white;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;

}

img:hover + .label {
  visibility: visible;
}

.label:hover {
  visibility: visible;
}


img {
  width: 100%;
  min-height: 100%; /* Assicura che l'altezza dell'immagine copra la colonna */
  object-fit: cover; /* Mantiene le proporzioni mentre copre l'area della colonna */
  object-position: center; /* Mantiene il centro dell'immagine visibile */
  transition: transform 0.3s ease;
  cursor: pointer;
}

.grid-col:hover img {
  transform: scale(1.1);
}

/* LOADING */

.loading-container {
  flex:4.67;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tre colonne di uguale larghezza */
  grid-gap: 10px; /* Spazio tra le colonne */
  padding: 10px; /* Padding attorno alla griglia */
  max-width: 800px; /* Larghezza massima della griglia */
}

.loading {
  border: 7px solid #FAA307;
  border-radius: 50%;
  border-top: 7px solid #6A040F;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
  /* Element has to be centered in height */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* NO POSTS IMAGE */
img.noposts {
  margin: auto;
  position: relative;
  display: block;
  width: 350px;
  top: 70px;
  cursor: default;
}

/* NO POSTS LABEL */
label.noposts{
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 23px;
  top: 30px;
  left: 20px;
  color: #6A040F;
  cursor: default;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /*padding: 10px;*/
  /*margin-bottom: 10px;*/
}




/* MOST USED INGREDIENTS */

.most-used-ingredients {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.least-used-ingredients {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.most-used-ingredients span {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #370617;
}

.least-used-ingredients > span {
  margin-top: 15px;
}

.least-used-ingredients span {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #370617;
}

.ingredient-list {
  max-width: 400px;
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ingredient-list span {
  text-align: center;
  width: 100%;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  background-color: #370617;
  color: white;
}

.ingredient-list span.gold {
  background-color: #FAA307;
}

.ingredient-list span.silver {
  background-color: #9D0208;
}

.ingredient-list span.bronze {
  background-color: #6A040F;
}


.interaction-group {
  margin-bottom: 20px;
}

.group-title {
  font-weight: bold;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.bar-outer {
  width: 100%;
}

.bar-inner {
  background-color: #3498db;
  height: 30px;
  margin-top: 5px;
  position: relative;
}

.bar-inner p.label-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin: 0;
}

.bar-container p.key-text {
  margin-top: 5px;
  color: #000;
  white-space: nowrap;
}


.interactionChart {
  flex: 2;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.interactionChart span {
  margin-bottom: 20px;
  display: block;
  font-size: 22px;
  color: #370617;
  font-weight: bold;
  text-align: center;

}

canvas.chart {
  width: 100%;
  max-width: 700px;
  max-height: 700px;
  height: auto;
}

.popup-overlay {
  padding: 15px 30px 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6A040F; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  border-radius: 10px;
  border-color: #F48C06;  
  font-family: Calibri, sans-serif;
  color: #6A040F;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 310px;
  height: auto; 
}

form {
  display: flex;
  flex-direction: column;
}

label.close {
  top: -14px;
  position: relative;
  right: -162px;
  color: white;
  font-weight: bolder;
  font-size: 35px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

label.close:hover {
  opacity: 1;
  transition: 0.2s;
}

.title {
  margin-top: -15px;
  font-weight: bolder;
  color: white;
  font-size: 22px;
  margin-bottom: 10px;
}


.popup-overlay input {
margin-bottom: 10px;
padding: 8px 10px;
font-size: 17px;
width: 100%;
border-radius: 5px;
border: 4px solid transparent;

outline: none;
color: #370617;
font-weight: bolder;
box-sizing: border-box;
}

.popup-overlay input::placeholder {
color: #370617;
opacity: 0.7;

}

.popup-overlay input:focus {
border-color: #FFBA08;
}


.popup-overlay label.response {
margin-top: 10px;
margin-bottom: -5px;
color: white;
font-size: 15px;
font-weight: bolder;
text-align: center;
visibility: hidden;
}

.popup-overlay label.response.visible {
visibility: visible;
}

.popup-overlay button {
margin-top: 20px;
text-transform: uppercase; /* Testo in maiuscolo */
cursor: pointer;
padding: 12px 0; /* Aggiungi spazio orizzontale e verticale ai pulsanti */
text-align: center; /* Centra il testo */
font-weight: bolder;
border-radius: 5px; /* Smussa il bordo dei bottoni */
transition: 0.2s;
}

.popup-overlay button[type="submit"] {
margin-top: 25px;
background-color: #FAA307;
color: white; 
font-size: 16px;
}

.popup-overlay button[type="submit"]:hover {
background-color: #FFBA08; 
transition: 0.2s;
transform: scale(1.05); /* Leggera scala su hover */
}

.popup-overlay button[type="submit"]:disabled {
  opacity: 0.5;
}

.popup-overlay label.info {
margin-top: 10px;
margin-left: 3px;
margin-bottom: 5px;
color: white;
font-size: 14px;
text-align: left;
}
.popup-overlay label.info a {
color: #FAA307;
font-size: 15px;
font-weight: bolder;
cursor: pointer;
}
.popup-overlay label.info a:hover {
color: #FFBA08;
}

.popup-overlay label.invisible {
visibility: hidden;
}


.container-changePassword {
  margin-top: 20px;
}


.info.cancel {
  position: relative;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  bottom: 5px
}

button.changePassword {
  width: 100%;
  color: #6A040F;
  background-color: white;
  font-size: 15px;
  font-weight: bolder;
}

.popup-overlay span.admin:hover {
opacity: 1;
transition: 0.2s;
}

.popup-overlay label.checkPassword {
margin-top: 0px;
margin-bottom: 10px;
color: white;
font-size: 15px;
visibility: hidden;
}

.popup-overlay label.checkPassword.visible {
visibility: visible;
}
 